
html
  head
    title Magic Dance Academy
    block scripts
    block style
  body
     nav#navbar
        ul
          div#logo 
            img(src="/static/a.png")
            | MDA
          li #[a(href="/") Home]
          li #[a(href="/") About us]
          li #[a(href="/") Services ]
          li #[a(href="/") More]
          li #[a(href="/contact") Contact us]
     block content
     footer#footer
       | copyright@atharvasablee ISO 1900:0000:1234