extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style 
     include ../static/style.css

block content 

     

     section#picsec 
       div A dance studio is a space in which dancers learn or rehearse.
       div The term is typically used to describe a space that has either been built or equipped for the purpose. 
       div.small Eat Sleep Dance Repeat

     section#missec 
       h3 Our Mission
       div#coo
         div.card
           h2 Dance 1
           div.box 
             div.card-img 
               img(src="/static/a.png")
             div.card-content
                p Lorem ipsum dolor sit amet consectetur.
         div.card Dance 2
           div.box 
              div.card-img 
                img(src="/static/a.png")
              div.card-content
                p Lorem ipsum dolor sit amet consectetur.
         div.card Dance 3
           div.box 
             div.card-img 
               img(src="/static/a.png")
             div.card-content
                p Lorem ipsum dolor sit amet consectetur.

     section#sposec
        h3 Our Sponsers
        div#spo     
           img(src= "/static/a.png", alt= "Sponsor Image", class= "spImage")
           img(src= "/static/a.png", alt= "Sponsor Image", class= "spImage")
           img(src= "/static/a.png", alt= "Sponsor Image", class= "spImage")
           img(src= "/static/a.png", alt= "Sponsor Image", class= "spImage")

